# MatchStock Frontend Environment Variables

# Back-End Host API URL
VITE_API_BASE_URL=https://match-stock.ddns.net/api/v1

# หรือ Localhost:
# VITE_API_BASE_URL=http://localhost:8080/api/v1

VITE_ENABLE_MOCK_FALLBACK=true
